header {
    @include background-img ('/images/header_background.png');
    width: 100%;
    

        .logo {
            font-family: $main-font;
            font-size: 30px;
            font-weight: bold;
            color: $main-color;
            

                span {
                    padding-top: 5px;
                    text-align: center;
                }
        }

        nav {
            color: $main-color;

                a {
                    color: inherit;
                }

                i {
                   margin-top: 15px;
                }
        }

        .greetings {
            font-family: $cursive-font;
            font-size: 65px;
            margin-top: 120px;
            color: $main-color;
        }

        .greetings-2 {
            font-size: 90px;
            font-family: $main-font;
            color: $main-color;
        }

        @media screen and (max-width:488px) {
            .greetings {
                font-size: 60px;
            }
            .greetings-2 {
                font-size: 80px;
            }
            
        }

        .bar {
            background: $main-color;
            width: 50px;
            height: 5px;   
        }

       a {
           margin-top: 20px;
       }

        .slider {
            display: flex;
            justify-content: space-around;
            height: 50px;
            margin-top: 70px;
            margin-bottom: 30px;
            
            .slider-bar {
                height: 3px;
                width: 20%;
                background-color: white;

                    span {
                        color: white;
                        font-family: $main-font;
                        font-weight: bold;
                    }
            }
        }    
}