.our-works {
    @include headers;
    margin-top: 90px;

        .our-works-text {
            margin-top: 50px;
        }

        .our-works-gallery {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: center;
        
            .man-img {
                @include our-works-bg('/images/our-work-gallery/man.png');
                }

        
            .roof-img {
                
                @include our-works-bg('/images/our-work-gallery/roof.png');  
                }

            .bridge-img {
              @include our-works-bg('/images/our-work-gallery/bridge.png');
                }
            .building-img {
                @include our-works-bg('/images/our-work-gallery/building.jpg');  
                }
            

            .glass-img {
              @include our-works-bg('/images/our-work-gallery/glass.png');   
                }

            .skyscraper-img {
               @include our-works-bg('/images/our-work-gallery/skyscraper.png');
                }
            }
        
            .jellyfish-img {
                @include our-works-bg('/images/our-work-gallery/jellyfish.png');
                
            }

            .flower-img {
                @include our-works-bg('/images/our-work-gallery/flower.jpg');
                
            }

        }


                            

    
    
                
