.our-team {
    @include headers;
    margin-top: 90px;
    min-height: 610px;

        .our-team-text {
            margin-top: 50px;
        }
        .gallery-container {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .workers-gallery {
                margin-top: 90px;
                display: flex;
                flex-wrap: wrap;
                width: 80%;
                justify-content: space-around;
            
                .photo-box {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    height: 420px;

                    
                    .first-photo-box {
                        @include photo-box('/images/workers-gallery/first-worker.png');
                    
                    }
                    .first-photo-box:hover {
                        @include hover-bg('/images/workers-gallery/first-worker.png');
                    }
                    .second-photo-box {
                        @include photo-box('/images/workers-gallery/second-worker.png');
                    }
                    .second-photo-box:hover {
                        @include hover-bg('/images/workers-gallery/second-worker.png');
                    }
                    .third-photo-box {
                        @include photo-box('/images/workers-gallery/third-worker.png');
                    }
                    .third-photo-box:hover {
                        @include hover-bg('/images/workers-gallery/third-worker.png');
                         
                    }
                    .general-class:hover {
                        .gallery-icons {
                            visibility: visible;
                        }
                    }
                    .gallery-icons-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        
                        .gallery-icons {
                            display: flex;
                            flex-basis: 165px; 
                            justify-content: space-around;
                            visibility: hidden;
                           
                                
                            a:active, a:hover {
                                color: white;
                                i {
                                    color:white;
                                }
                                .icons-border {
                                    background: $pink;
                                }
                                
                            }

                            a {
                                color:$pink;
                                width: 40px;
                                height: 40px;
                                text-decoration: none;
                            }

                           
                                
                            .icons-border {
                                    background: #fce38a;
                                    color: $pink;
                                    display: flex;
                                    height: 40px;
                                    width: 40px;
                                    justify-content: center;
                                    align-items: center;  
                                }
                                
                        }
                    }
                        
            .workers-name {
                margin-top: 30px;

                    span.name {
                        font-family: $main-font;
                        font-weight: bold;
                        font-size: 14px;
                    }

                    .job {
                        font-family: $roboto;
                        color: #999999;
                        font-size: 14px;
                        font-style: italic;
                    }
            }     
                
            
            }
            }
        }

        }

@media screen and (max-width: 1128px) {
    .photo-box {
        margin-top: 60px;
    }
}