@import "node_modules/bootstrap/scss/bootstrap";
@import './var.scss';
@import './header.scss';
@import './about-us.scss';
@import './our-team.scss';
@import './comments.scss';
@import './devices.scss';
@import './service.scss';
@import './statistics.scss';
@import './technologies.scss';
@import './hipster-line.scss';
@import './our-works.scss';
@import './clients.scss';
@import './blog.scss';
@import './map.scss';
@import './footer.scss';

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

/* Scrollbar */

        /* width */
          ::-webkit-scrollbar {
              width: 4px;
          }

          /* Track */
          ::-webkit-scrollbar-track {
              background: $scroll-track; 
              border-radius: 5px;
          }

          /* Handle */
          ::-webkit-scrollbar-thumb {
              background: $light-blue; 
              border-radius: 10px;
          }
