//Fonts 
$main-font: 'Montserrat', sans-serif;
$cursive-font: 'Kaushan Script', cursive;
$roboto: 'Roboto', sans-serif;

//Colors:
$main-color: white;
$light-grey: #e5e5e5;
$light-blue: #95e1d3;
$grey: #cccccc;
$scroll-track: #f5f5f5;
$comment-section: #f8f8f8;
$pink: #f38181;
$links-grey: #999999;

//mixins 
    @mixin headers {
    
        
        h4 {

            font-family: $cursive-font;
            font-size: 24px;
        }
        
        h1 {
            font-family: $main-font;
            font-size: 30px;
            font-weight: 800;
        }

        .bar {
            background: $pink;
            width: 50px;
            height: 5px;   
        }
}


@mixin grow-shrink-reset {
    flex-grow: 0;
    flex-shrink: 0;
}

@mixin background-img ($img-url) {
   background: url($img-url) no-repeat center center fixed;
}

@mixin photo-box ($img-url) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background: url($img-url) no-repeat center;
}

@mixin hover-bg ($img-url) {
    width: 100%;
    height: 90%;
    background: linear-gradient(180deg, rgba(234,138,137,0.7) 0%, rgba(242,227,145,0.7) 100%),
                url($img-url) no-repeat center center;
    box-shadow: 14px 10px 0px 3px rgba(149,225,211,1);
    transition: 0.3s ease-in-out;
}

@mixin our-works-bg ($img-url) {
    min-width: 340.5px;
    height: 250px;
    background: url($img-url) no-repeat center center;

}

@mixin our-works-hover ($img-url) {
    background: linear-gradient(180deg, rgba(234,138,137,0.7) 0%, rgba(242,227,145,0.7) 100%),
                url($img-url) no-repeat center center;
    min-width: 340.5px;
    height: 250px;
}

@mixin about-us-bg ($img-url) {
    background: url($img-url) center center;
    height: 250px;
    flex-basis: 340px;
}

@mixin about-us-bg-hover ($img-url) {
    background: linear-gradient(180deg, rgba(234,138,137,0.7) 0%, rgba(242,227,145,0.7) 100%),
                url($img-url) center center;
}